/*
	-- begin reset
*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}body{line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}del{text-decoration:line-through;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}

/*
	-- end reset
*/

body {
	padding-top: 70px;
	font-family: "Sniglet", sans-serif;
	text-transform: uppercase;
	height: 100%;
	color: #000;
	background-color: #ffff99;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 10%;
	height: auto;
}

.loading {
	position: absolute;
	opacity: 0.8;
	margin: -24px 0 0 -24px;
	left: 50%;
	top: 50%;
	color: #000;
}

#wrapper {
	width: 710px;
	margin: 0 auto;
}

header, article {
	font-weight: 800;
	color: #000;
}

header {
	margin-top: 70px;
}

header h1 {
	font-size: 40px;
	line-height: 60px;
	display: none;
}

#output {
	font-size: 48px;
	line-height: 48px;
	margin: 60px 0;
}

#output.animate {
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-ms-transition: opacity 0.5s ease-out;
	-o-transition: opacity 0.5s ease-out;
	-transition: opacity 0.5s ease-out;
}

noscript {
	font-weight: 800;
	font-size: 48px;
	line-height: 48px;
	margin: 60px 0;
}

#output dd {
	display: block;
	margin: 60px 0;
}

#generate {
	text-decoration: none;
	font-size: 20px;
	color: #000;
}

#generate:hover {
	text-decoration: underline;
	color: black;
}

aside {
	position: absolute;
	margin: 12px 8px;
	right: 0;
	top: 0;
}

#share li {
	list-style: none;
	display: inline;
}

footer {
	text-transform: none;
	position: absolute;
	text-align: right;
	line-height: 16px;
	font-size: 12px;
	color: #666;
	margin: 12px 24px;
	bottom: 0;
	right: 0;
}

footer a {
	text-decoration: none;
	color: #000;
}

footer a:hover {
	text-decoration: underline;
}